.git
.github
.gitignore
.dockerignore
.husky
.vscode
.idea
.DS_Store
node_modules
.next
out
build
coverage
docs
*.log
*.tsbuildinfo
.env
.env.local
.env.*.local
README.md
Dockerfile
docker-compose.yml
docker-compose.*.yml
